/* html{
    scroll-snap-type: none;
} */
.formbody{  
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fafafa;
}
.form{
    background-color: #ffffff;
    padding:50px 0px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
table{
    text-align: start;
    /* padding:20px; */
}
td{
    font-size:15px;
}
.star{
    color:rgb(240, 47, 47);
    font-size: 15px;
}
.ptext{
    padding:20px;
    text-align: left;
}
.int{
    border: none;
    padding: 8px 20px;
    margin-right: 50px;
    transition: all 0.3s ease-in-out;
    margin-top:30px;
}
.int:hover{
    color:white;
    background-color:black;
}
.box{ 
    padding:30px;
}
.topic{
    font-size: 45px;
    margin: 30px 0;
}

.web_name,.logo{
    background: linear-gradient(to right,#B570FE,#442C9E);
    color:transparent;
    font-weight: 800;
    background-clip:text;
}
.box1>img{
    display: inline;
    margin: 50px 0px;
}
.con-body{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.con-body table{
    margin-top:100px;
}