@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    /* border: 1px red solid; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-snap-type: y mandatory;
}
html::-webkit-scrollbar {
    display: none;
}
html::selection {
    background: #ffffff;
    color: rgb(0, 0, 0);
  }
.section1{
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:80px;
    background-color: rgb(0, 0, 0);
    padding:20px; 
    box-shadow: 0px 5px 10px black;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    font-size: 13px;
    margin-right: 35px;
    text-decoration: none;
    color: rgb(136, 136, 136);
    transition: all 0.2s linear;
}
nav ul li a:hover{
    color:rgb(255, 255, 255);
    border-bottom:1px rgb(255, 255, 255) solid;
}
.burger-icon{
    display: none;
}

/* Main Section */

.main-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap:40px;
    padding: 125px 50px;
    background:linear-gradient(to bottom ,#B570FE,#442C9E);
    color:white;
}
.main-sec img{
    height: 350px;
    transition: all .2s ease-in;
}
.main-sec img:hover{
    box-shadow: -25px 40px 25px black;
    scale:1.009;
}
.text-sec{
    padding:30px;
}
.main-text{
    font-size: 40px;
    text-shadow:5px 5px 25px #000;
    margin-bottom: 10px;
}
.main-subtext{
    color:rgb(194, 194, 194);
    margin-bottom: 20px;
}
.text-sec a{
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    padding:5px 15px;
    transition: all .3s ease-in;
}
.text-sec a:hover{
    color:#fff;
    background-color: #000;
    border-radius: 0;
    border:1px #945CE2 solid;
    box-shadow: -15px 20px 15px black;
}
.logo{
    cursor:pointer;
}
/* Section 2 */

.section2{
    scroll-snap-align: start;
    height: 100vh;
    background-color:rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:50px;
}
.section2 h1{
    margin-bottom: 30px;
}
.works{
    background-color:rgb(255,255,255);
    padding: 50px;
    width: 100%;
    /* height:50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.work1::-webkit-scrollbar{
    display: none;
}
.work1{
    display: flex;
    overflow-x: scroll ;
    scroll-snap-type: x mandatory;
    padding:5px;
}
.works img{
    width: 365px;
}
.work-box{
    scroll-snap-align: start;
    margin: 10px;
    transition: all .2s linear;
}
.work-box:hover{
    scale: 1.04 ;
}
.work-box p{
    margin:15px 0px ;
}
.work-box a{
    text-decoration: none;
    color:cadetblue;
    padding: 5px;
    border:1px #B570FE solid;
    border-radius: 5px;
}
.work-box a:hover{
    color:rgb(255, 255, 255);
    background-color:#B570FE;
}

/* Section 3 */

.section3{
    scroll-snap-align: start;
    background-color:#B570FE;
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:50px;
}
.section3 h1{
    margin-bottom: 30px;
}
.planbox{
    background-color:rgb(240, 240, 240);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plans{
    margin: 10px;
    transition: all .2s linear;
    padding: 40px;
    background-color: white;
}
.plans:hover{
    scale: 1.05 ;
    transform: translateY(-15px);
    box-shadow:20px 30px 25px black;
}
.plans ul{
    margin:15px 10px ;
}
.plans ul li{
    list-style:none;
    margin:10px 0px;
}
.plans a{
    text-decoration: none;
    color:cadetblue;
    padding: 5px;
    border:1px #B570FE solid;
    border-radius: 5px;
}
.plans a:hover{
    color:rgb(255, 255, 255);
    background-color:#B570FE;
}
/* Summa Section  */
.summa-section{
    scroll-snap-align: start;
    background-color:rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px;
    min-height: 100vh;
    text-align: left;
}
.para{
    border-radius: 20px;
    padding:50px;
    background-color: white;
}
/* Footer Section  */

footer{
    display: grid;
    justify-content: center;
    scroll-snap-align: start;
    background-color: rgb(184, 184, 184);
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 14px;
    
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 10px;
}
.social-icons ul li{
    list-style: none;
}
.social-icons li a i {
    font-size: 30px;
    padding:10px;
    color:grey;
    transition: all .2s ease-in;
}
.social-icons li a i:hover {
    color:rgb(0, 0, 0);
    scale:1.2;
    transform: translateY(-5px);
}

.copyright-sec{
    margin: 20px;
}
.copyright-sec span{
    font-size: 15px;
}
.copyright-sec p{
    margin-top: 5px;
    font-size: 10px;
}

/* Responsive */

@media only screen and (max-width: 600px) {
    html{
        scroll-snap-type: none;
    }
    .nav-links{
        display: none;
    }
    .burger-icon{
        display: block;
    }
    .main-sec img{
        height: 230px;
        box-shadow: 10px 10px 50px black;
        width:calc(100vw - 50px);
    }
    .main-sec{
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .main-text{
        font-size: 30px;
    }
    .text-sec{
        padding:15px;
        text-align: center;
    }
    
    /* section 2  */
    .work-box{
        min-width: 250px;
    }
    .works img{
        width: calc(100vw - 200px);
    }
.section2{
    height: 100vh;
    padding:5px;
}
    /* Section 3 */
    .plans{
        border-radius: 10px;
    }
    .planbox{
        border-radius: 20px;
        flex-direction: column;
        padding: 10px;
        gap:10px;
    }
    /* summa section */

    .summa-section{
        padding:20px;
    }
    .para{
        padding:20px;
    }
    .formbody{ 
    background-color: rgb(255, 255, 255);
    }

}


